
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(190deg, rgba(22,21,21,1) 0%, rgba(46,45,45,1) 63%, rgba(84,84,84,1) 88%);
    color: rgb(255, 255, 255); 
    padding: 1rem 0; 
    z-index: 1000; 
}